<footer class="page-footer font-small mt-5">
  <hr />
  <div class="container pb-5">
    <div class="row justify-content-between">
      <!-- Name -->
      <div class="col-md-4 col-lg-3">
        <button type="button" class="btn btn-block pl-0 rounded-0 text-md-left">
          <a style="all: unset" href="/now/">
            <p class="h5">Azimjon Ilkhomov 2022</p>
          </a>
        </button>
      </div>
      <!-- Links -->
      <div class="col">
        <div class="row justify-content-end py-0">
          <div class="col-md-4 col-lg-3 py-1">
            <a class="btnLink" href="https://github.com/ajilk">
              <button
                type="button"
                class="btn btn-block btn-outline-dark rounded-0"
              >
                <i class="fab fa-github"></i>
                &nbsp Github
              </button>
            </a>
          </div>
          <div class="col-md-4 col-lg-3 py-1">
            <a class="btnLink" href="https://www.linkedin.com/in/ajilk/">
              <button
                type="button"
                class="btn btn-block btn-outline-dark rounded-0"
              >
                <i class="fab fa-linkedin"></i>
                &nbsp LinkedIn
              </button>
            </a>
          </div>
          <div class="col-md-4 col-lg-3 py-1">
            <a class="btnLink" href="https://twitter.com/ajilkhomov">
              <button
                type="button"
                class="btn btn-block btn-outline-dark rounded-0"
              >
                <i class="fab fa-twitter"></i>
                &nbsp Twitter
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
