.nav-link {
  font-size: 1.2rem;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler-icon {
  width: 30px !important;
  height: 30px !important;
}

.form-control:focus {
  box-shadow: none !important;
}

.projects a {
  color: gray;
}

.interests h1 {
  color: gray;
}

.projects a:hover {
  text-decoration: none;
  color: black;
}

.btnLink {
	text-decoration: none !important;
}

hr {
  margin-top: 0 !important;
  margin-bottom: 1rem !important;
}

@media (max-width: 767px) {
  .btn-xs-block {
    display: block;
    width: 100%;
  }
  input[type="submit"].btn-xs-block,
  input[type="reset"].btn-xs-block,
  input[type="button"].btn-xs-block {
    width: 100%;
  }
  .btn-block + .btn-xs-block,
  .btn-xs-block + .btn-block,
  .btn-xs-block + .btn-xs-block {
    margin-top: 0.5rem;
  }
}

/* Disable orange focus outline */
button:focus,
button:active:focus,
button.active:focus,
button.focus,
button:active.focus,
button.active.focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Hide scrollbar */
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
